@import url('https://fonts.googleapis.com/css?family=Dancing+Script&display=swap');

.cssTop {
  background-color: white;
  /* margin: -7px -8px 0px -8px;
  padding: 15px 0px 11px 0px; */
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.26);
  border-color: lightgray;
  padding-top: 9px;
  padding-bottom: 9px;
  display: flex;
  justify-content: space-between;
  font-family: 'Dancing Script';  
  align-items: baseline;
  width: 100%;
  position: fixed;
};

.cssTopWord {
    @extend .cssTop;
      font-family: 'Dancing Script';
}

@font-face {
    font-family: 'Dancing Script';
}


.cssFontDance {
  font-family: "Dancing Script";
  /* font-size: -webkit-xxx-large; */
};
